<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="librairieConnectionString" connectionString="Data Source=.\sqlexpress2008;Initial Catalog=librairie;User ID=sa;Password= 6nd1H3mfmG6u/2JjCw+IOQ==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
